extend layout

block content
  link(href="/css/beneficios.css", media="screen", rel="stylesheet", type="text/css")
  #inferior
    #izquierda
      #contenedor-beneficios
        img(src='/images/beneficios-1.png')
        img(src='/images/beneficios-2.png')
        img(src='/images/beneficios-3.png')
    #derecha
      #fondo-derecha
      p#beneficios-texto
        b Porqué elegir tablepress
        br
        br
        | Tenemos un exclusivo catálogo con referencias de chapillas importadas que se convierte en una excelente herramienta de venta para nuestros clientes.
        br
        | Entregamos nuestros productos en todo el territorio colombiano.
      ul#beneficios-lista
        li Oportunidad de entrega en punto de venta.
        li Tecnología de punta con maquinaria de última generación.
        li Calidad en nuestros procesos.
        li Modelo de negocio que se ajusta a las necesidades de nuestros clientes.
        li
          | Costo de flete con precios diferenciales por acuerdo con proveedores de tranporte.
        li Asesoría y asistencia en el punto de venta por nuestra fuerza de ventas.
        li Productos novedosos con las últimas tendencias de diseño del mercado.
        li Ubicación estratégica en el área metropolitana de Medellín.