link(href="/css/cantos.css", media="screen", rel="stylesheet", type="text/css")
#inferior
  #izquierda
    #izquierda-fondo
      .top &nbsp;
      .centro &nbsp;
      .bottom &nbsp;
      #contenido-zoom
        #zoom
          img(src='/images/cantos-1.png')
          img(src='/images/cantos-2.png')
          img(src='/images/cantos-3.png')
        #icono-hoja &nbsp;
        .nombre-producto
          p#nombre-zoom cantos
  #derecha
    #fondo-derecha
    p#texto-cantos-tableros
      b Carretes
      br
      | 15mm - 18mm - 22mm - 25mm - 35mm - 42mm - 52mm - 60mm.
      br
      br
      b Canto Lineal
      br
      | Tiras de 250cm - 15mm-18mm-22mm
      br
      | 35mm-42mm-52mm-60mm
      br
      br
      b Calibre
      br
      | 0,6mm - 1,2mm - 1,5mm
