extend layout

block content
  link(href="/css/empresa.css", media="screen", rel="stylesheet", type="text/css")
  #inferior
    #izquierda
      .top &nbsp;
      .centro &nbsp;
      .bottom &nbsp;
      #fotos-empresa
        img(src='/images/foto-empresa-1-peque.jpg')
        img(src='/images/foto-empresa-2-peque.jpg')
        img(src='/images/foto-empresa-3-peque.jpg')
        img(src='/images/foto-empresa-4-peque.jpg')
    #derecha
      .top &nbsp;
      .centro &nbsp;
      .bottom &nbsp;
      #contenido-empresa
        p.texto-empresa
          | Tablepress es una compañía que ha surgido como respuesta a un mercado cada día más exigente
          | en la producción y comercialización de tableros enchapados en madera reconstituida para muebles y
          | arquitectura de interiores.
          br
          | Con la experiencia de varios años y aprovechando los desarrollos tecnológicos, hemos implementado
          | una novedosa planta en Medellín, estratégicamente situada, con excelentes soluciones logísticas para
          | llegar a cualquier mercado en el ámbito nacional de manera eficiente.
          br
          | Producimos tableros enchapados con productos de excelente calidad, de materia prima importada
          | exclusivamente por nosotros y enchapes reconocidos de alta demanda nacional e internacional.
          | Nuestros equipos de última generación permiten hacer enchape en materiales de diferentes sustratos
          | como TRIPLEX, MDF, MUF, TABLEX, en diferentes calibres, de acuerdo a las necesidades del arquitecto,
          | ebanista o carpintero y con alta capacidad de respuesta en la entrega oportuna y óptima, facilitando el
          | manejo del inventario de nuestros clientes.