extend layout

block content
  link(href="/css/inicio.css", media="screen", rel="stylesheet", type="text/css")
  #inferior
    #inicio-logo
      a(href='/empresa')
        img(src='/images/logo-inicio.png')
  #linea-fondo
