/* line 1, ../../../app/stylesheets/layout.sass */
* {
  margin: 0;
  padding: 0;
}

/* line 5, ../../../app/stylesheets/layout.sass */
body {
  font-family: "Lucida Grande", Arial, Helvetica, Verdana, sans-serif;
  background-color: #5f4642;
  height: 100%;
  cursor: url(/images/puntero.png), auto;
}

/* line 24, ../../../app/stylesheets/layout.sass */
.stretch {
  width: 100%;
  height: 100%;
}

/* line 28, ../../../app/stylesheets/layout.sass */
#wrap {
  height: 100%;
  width: 100%;
}

/* line 32, ../../../app/stylesheets/layout.sass */
#superior {
  background-color: #41660f;
  height: 70px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 40px;
}

/* line 39, ../../../app/stylesheets/layout.sass */
#menu {
  width: 980px;
  margin: 0 auto;
}

/* line 43, ../../../app/stylesheets/layout.sass */
#logo {
  background: url("/images/logo-table-press.png") no-repeat scroll 0 0 transparent;
  height: 60px;
  width: 250px;
  margin-top: 8px;
  float: left;
}

/* line 50, ../../../app/stylesheets/layout.sass */
#inicio, #empresa, #productos, #servicios, #contactenos, #beneficios {
  float: left;
  display: block;
  margin-top: 25px;
  text-decoration: none;
  padding: 0 23px;
}

/* line 58, ../../../app/stylesheets/layout.sass */
#menu input {
  margin-top: 20px;
  margin-left: 70px;
}
/* line 61, ../../../app/stylesheets/layout.sass */
#menu li {
  float: left;
  list-style-type: none;
  display: block;
}
/* line 65, ../../../app/stylesheets/layout.sass */
#menu li a.on {
  color: white;
}
/* line 67, ../../../app/stylesheets/layout.sass */
#menu .texto-menu {
  font-family: verdana;
  font-size: 20px;
  color: #a4dc22;
  font-weight: lighter;
}
/* line 72, ../../../app/stylesheets/layout.sass */
#menu .on {
  text-decoration: none;
}
/* line 74, ../../../app/stylesheets/layout.sass */
#menu #beneficios {
  color: #ffb100;
  font-size: 26px;
  margin-top: 20px;
}

/* line 79, ../../../app/stylesheets/layout.sass */
#inferior {
  width: 980px;
  margin: 0 auto;
}

/* line 83, ../../../app/stylesheets/layout.sass */
#productos-item {
  position: relative;
}